.icon-menu {
  position: fixed;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    width: 40px;
    height: 22.5px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #333;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 1px);
    transform: scale(1) translate(0px, -50%);
  }
  .icon-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .icon-menu._active::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
  }
  .icon-menu._active::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

.menu {
  display: none;
}
@media (max-width: 991.98px) {
  .menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #141414;
    padding: 100px 15px 50px 15px;
    transition: left 0.3s ease 0s;
    overflow: auto;
    z-index: 4;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 70px;
    background-color: #141414;
  }
}