@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Plus+Jakarta+Sans:wght@500;700&display=swap");
.wrapper {
  min-width: 320px;
  max-width: 1440px;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #232e35;
  font-size: 16px;
}
body a {
  color: inherit;
}

.ibg {
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.ibg img {
  width: 0;
  height: 0;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
}

.title__label {
  color: #656d72;
  font-size: 12px;
  font-weight: 500;
  line-height: 2;
  letter-spacing: 7.5px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 16px;
}
.title__label::before {
  content: "";
  width: 16px;
  height: 2px;
  background: #d9d9d9;
}
.title__label:not(:last-child) {
  margin-bottom: 9px;
}
.title__value {
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.25;
}
@media (max-width: 479.98px) {
  .title__value {
    font-size: 28px;
  }
}
.title__value span {
  color: #f1bf74;
}
.title__value_big {
  font-size: 44px;
  line-height: 1.25;
}
@media (max-width: 479.98px) {
  .title__value_big {
    font-size: 36px;
  }
}

.text {
  font-weight: 400;
  line-height: 2;
}
.text p:not(:last-child) {
  margin-bottom: 15px;
}

.category-link {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #f1f1f1;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  transition: all 0.5s ease 0s;
}
.category-link:hover {
  background-color: #7e74f1;
  color: #f1f1f1;
}

.date {
  display: inline-block;
  border-radius: 4px;
  background-color: #fbfbfb;
  padding: 4px 8px;
  color: #656d72;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
}

.icon-menu {
  position: fixed;
}
@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    flex: 0 0 30px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 10;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.5s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #232e35;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(55% - 1px);
    transform: scale(1) translate(0px, -55%);
  }
  .icon-menu._active span {
    transform: scale(0) translate(0px, -50%);
  }
  .icon-menu._active::before {
    transform: rotate(-45deg);
    top: calc(50% - 1px);
    background-color: #fff;
  }
  .icon-menu._active::after {
    transform: rotate(45deg);
    bottom: calc(50% - 1px);
    background-color: #fff;
  }
}

@media (max-width: 767.98px) {
  .menu {
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
  }
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: #7e74f1;
    padding: 100px 15px 50px 15px;
    transition: left 0.5s ease 0s;
    overflow: auto;
    z-index: 4;
  }
  .menu__body._active {
    left: 0;
  }
  .menu__body._active::before {
    left: 0;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: -100%;
    height: 60px;
    background-color: #a29bf1;
    transition: left 0.5s ease 0s;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(255, 255, 255, 0.75);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  min-height: 123px;
  padding-bottom: 5px;
  padding-top: 5px;
}
@media (max-width: 767.98px) {
  .header__container {
    min-height: 60px;
  }
}
.header__logo {
  position: relative;
  z-index: 5;
}
@media (max-width: 767.98px) {
  .header__logo {
    width: 40px;
    flex: 0 0 40px;
    overflow: hidden;
    border-radius: 50%;
  }
}
.header__actions {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__button {
  position: relative;
  z-index: 5;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  border-radius: 8px;
  border: 1px solid #f1f1f1;
  padding: 15px 24px;
  transition: all 0.5s ease 0s;
}
.header__button:hover {
  background-color: #7e74f1;
  border: 1px solid #7e74f1;
  color: #fff;
}
@media (max-width: 767.98px) {
  .header__button {
    background-color: #232e35;
    border: 1px solid #232e35;
    color: #fff;
    padding: 10px 15px;
  }
}
@media (max-width: 767.98px) {
  .header a {
    color: #fff;
  }
}

@media (min-width: 767.98px) {
  .menu__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 5px;
    -moz-column-gap: 56px;
         column-gap: 56px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
}
@media (max-width: 767.98px) {
  .menu__list {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.menu__item {
  text-align: center;
}
@media (max-width: 767.98px) {
  .menu__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
.menu__link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  transition: color 0.5s ease 0s;
}
.menu__link:hover {
  color: #7e74f1;
}
.menu a {
  color: inherit;
}
@media (max-width: 767.98px) {
  .menu a {
    color: #fff;
    font-size: 32px;
  }
}

.main-section__container {
  padding-top: 200px;
  padding-bottom: 110px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 100%;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 991.98px) {
  .main-section__container {
    padding-top: 120px;
    padding-bottom: 100px;
  }
}
@media (max-width: 767.98px) {
  .main-section__container {
    padding-top: 80px;
    padding-bottom: 30px;
    grid-template-columns: auto;
    row-gap: 30px;
  }
}
.main-section__title:not(:last-child) {
  margin-bottom: 32px;
}
@media (max-width: 767.98px) {
  .main-section__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.main-section__text:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 767.98px) {
  .main-section__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  -moz-column-gap: 34px;
       column-gap: 34px;
  row-gap: 5px;
}
@media (max-width: 767.98px) {
  .social {
    -moz-column-gap: 25px;
         column-gap: 25px;
  }
}
@media (max-width: 479.98px) {
  .social {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.social__link {
  font-size: 22px;
  transition: color 0.5s ease 0s;
}
.social__link:hover {
  color: #7e74f1;
}

.decor-main-section {
  max-width: 336px;
  margin: 0 25px;
  justify-self: center;
}
@media (min-width: 767.98px) {
  .decor-main-section {
    width: 100%;
    justify-self: end;
  }
}
@media (max-width: 767.98px) {
  .decor-main-section {
    width: 296px;
    max-width: none;
  }
}
@media (max-width: 479.98px) {
  .decor-main-section {
    width: 246px;
  }
}
.decor-main-section__box {
  border-radius: 4px;
  position: relative;
  padding-bottom: 119%;
}
.decor-main-section__box::before, .decor-main-section__box::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}
.decor-main-section__box::before {
  z-index: 1;
  transform: rotate(-9.545deg);
  background-color: #f1bf74;
}
.decor-main-section__box::after {
  z-index: 2;
  background: #fef2e6 url("../images/main/main-lines.svg") top right/58% no-repeat;
}
.decor-main-section__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 16px;
  overflow: hidden;
}
.decor-main-section__picture {
  z-index: 3;
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
  border-radius: 16px;
}

.services {
  background-color: #fbfbfb;
}
.services__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .services__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .services__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.services__title:not(:last-child) {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .services__title:not(:last-child) {
    margin-bottom: 60px;
  }
}
@media (max-width: 767.98px) {
  .services__title:not(:last-child) {
    margin-bottom: 15px;
  }
}
.services__items {
  display: grid;
  width: 100%;
  gap: 56px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
@media (max-width: 767.98px) {
  .services__items {
    gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .services__items {
    gap: 20px;
  }
}
.item-service {
  border-radius: 8px;
  background-color: #fff;
  display: grid;
  justify-items: center;
  text-align: center;
  padding: 50px;
}
@media (max-width: 767.98px) {
  .item-service {
    padding: 30px;
  }
}
@media (max-width: 479.98px) {
  .item-service {
    padding: 20px;
  }
}
.item-service__icon {
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background-color: #f5f3fe;
}
.item-service__icon:not(:last-child) {
  margin-bottom: 24px;
}
.item-service__title {
  font-weight: 500;
  line-height: 1.25;
}
.item-service__title:not(:last-child) {
  margin-bottom: 16px;
}
.item-service__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .portfolio__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .portfolio__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.portfolio__header {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 144px;
}
@media (max-width: 991.98px) {
  .portfolio__header {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .portfolio__header {
    margin-bottom: 30px;
    flex-direction: column;
    align-items: stretch;
  }
}
.portfolio__controls {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .portfolio__controls {
    justify-content: center;
  }
}
.portfolio__arrow {
  width: 40px;
  height: 40px;
  border-radius: 16px;
  font-size: 12px;
  color: #7e74f1;
  background-color: #eae6fe;
  transition: all 0.5s ease 0s;
}
.portfolio__arrow:hover {
  background-color: #b7a8ff;
  color: #fff;
}
.portfolio__arrow.swiper-button-disabled {
  opacity: 0.5;
  cursor: default;
  color: #7e74f1;
  background-color: #eae6fe;
}
.portfolio__arrow_left {
  transform: rotate(180deg);
}
.portfolio__slider {
  overflow: hidden;
}
.item-portfolio {
  border: 1px solid #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.item-portfolio__image {
  overflow: hidden;
  opacity: 0.5;
  transition: all 0.8s ease 0s;
  padding-bottom: 81%;
}
@media (max-width: 991.98px) {
  .item-portfolio__image {
    opacity: 1;
  }
}
.item-portfolio__image img {
  -o-object-position: top;
     object-position: top;
}
.item-portfolio__image:hover {
  opacity: 1;
  transform: scale(1.05);
}
.item-portfolio__body {
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  flex: 1 1 auto;
}
.item-portfolio__title {
  flex: 1 1 100%;
}
.item-portfolio__footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 16px;
}
.item-portfolio__footer a {
  color: #656d72;
}
.item-portfolio__link-title {
  font-weight: 500;
  line-height: 1.25;
  transition: color 0.5s ease 0s;
}
.item-portfolio__link-title:hover {
  color: #7e74f1;
}
.item-portfolio__link-title a {
  color: inherit;
}
.item-portfolio__link {
  font-size: 22px;
  transition: color 0.5s ease 0s;
}
.item-portfolio__link:hover {
  color: #7e74f1;
}

.career {
  background-color: #fbfbfb;
}
.career__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .career__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .career__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.career__body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  -moz-column-gap: 144px;
       column-gap: 144px;
  row-gap: 80px;
}
@media (min-width: 767.98px) {
  .career__body {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    align-content: center;
    align-items: start;
    grid-auto-flow: column;
  }
}
@media (max-width: 991.98px) {
  .career__body {
    -moz-column-gap: 80px;
         column-gap: 80px;
  }
}
@media (max-width: 767.98px) {
  .career__body {
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .career__body {
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 20px;
  }
}
._active .career__navigation {
  display: none;
}
@media (max-width: 767.98px) {
  .career__content {
    padding-top: 32px;
  }
}
@media (max-width: 479.98px) {
  .career__content {
    padding-top: 20px;
  }
}
@media (min-width: 767.98px) {
  .career__content {
    grid-row: span 2;
  }
}

.navigation-career__title {
  width: 100%;
  padding: 14px 24px;
  font-weight: 400;
  line-height: 1.18;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row-reverse;
  gap: 10px;
  transition: color 0.5s ease 0s;
}
.navigation-career__title:not(:last-child) {
  margin-bottom: 9px;
}
@media (max-width: 767.98px) {
  .navigation-career__title {
    padding: 10px;
    justify-content: space-between;
    border: 1px solid #d9d9d9;
  }
}
.navigation-career__title::before {
  font-size: 12px;
  display: none;
  transition: transform 0.5s ease 0s;
}
@media (max-width: 767.98px) {
  .navigation-career__title::before {
    display: block;
    transform: rotate(90deg);
  }
}
.navigation-career__title.active {
  justify-content: space-between;
  background-color: #fff;
  color: #7e74f1;
}
.navigation-career__title.active::before {
  display: block;
}
@media (max-width: 767.98px) {
  .navigation-career__title.active::before {
    transform: rotate(-90deg);
  }
}
.navigation-career__title:hover {
  color: #7e74f1;
}

.item-tabs {
  display: none;
}
.item-tabs.active {
  display: block;
}

._active .content-career__body {
  padding: 15px 0 15px 0;
}
.content-career__header {
  border-bottom: 1px solid #f1f1f1;
  padding-bottom: 32px;
}
@media (max-width: 767.98px) {
  .content-career__header {
    padding-bottom: 20px;
  }
}
.content-career__title {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.27;
}
.content-career__title:not(:last-child) {
  margin-bottom: 8px;
}
.content-career__link-title {
  text-decoration: underline;
}
.content-career__link-title:hover {
  text-decoration: none;
}
.content-career__location {
  color: #656d72;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.content-career__location:not(:last-child) {
  margin-bottom: 16px;
}
.content-career__time {
  color: #656d72;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
}
.content-career__time:not(:last-child) {
  margin-bottom: 20px;
}
.content-career__categories {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}
@media (max-width: 767.98px) {
  .content-career__categories {
    gap: 5px;
  }
}
.content-career__main {
  padding-top: 32px;
}
@media (max-width: 767.98px) {
  .content-career__main {
    padding-top: 20px;
  }
}
.list-content-career__item {
  color: #656d72;
  font-weight: 400;
  line-height: 1.18;
  position: relative;
  padding-left: 28px;
}
.list-content-career__item:not(:last-child) {
  margin-bottom: 16px;
}
.list-content-career__item::before {
  content: "";
  background-color: #d9d9d9;
  width: 10px;
  height: 2px;
  position: absolute;
  top: 10px;
  left: 0;
}

.blog__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .blog__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .blog__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.blog__title {
  margin-bottom: 144px;
}
@media (max-width: 991.98px) {
  .blog__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .blog__title {
    margin-bottom: 30px;
  }
}
.blog__items {
  align-self: stretch;
  display: grid;
  gap: 40px;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
}
@media (max-width: 767.98px) {
  .blog__items {
    gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .blog__items {
    gap: 20px;
  }
}
.item-blog {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
}
.item-blog__image {
  overflow: hidden;
  padding-bottom: 67.31%;
  transition: all 0.5s ease 0s;
}
.item-blog__image:hover {
  transform: scale(1.05);
}
.item-blog__body {
  padding: 16px 16px 24px 16px;
  display: grid;
  gap: 16px;
}
.item-blog__title a {
  color: inherit;
}
.item-blog__link-title {
  font-family: "Plus Jakarta Sans";
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
  transition: color 0.5s ease 0s;
}
.item-blog__link-title:hover {
  color: #7e74f1;
}
.item-blog__date {
  justify-self: start;
}
.item-blog__text {
  color: #656d72;
  font-size: 16px;
  font-weight: 400;
  line-height: 200%;
}
.item-blog__links {
  margin-top: 24px;
  justify-self: center;
}
.item-blog__links a {
  color: #656d72;
}
.item-blog__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  transition: color 0.5s ease 0s;
}
.item-blog__link:hover {
  color: #7e74f1;
}

.testimonials {
  background-color: #fbfbfb;
}
.testimonials__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .testimonials__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .testimonials__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.testimonials__title {
  margin-bottom: 132px;
}
@media (max-width: 991.98px) {
  .testimonials__title {
    margin-bottom: 80px;
  }
}
.testimonials__items {
  display: grid;
  -moz-column-gap: 48px;
       column-gap: 48px;
  row-gap: 80px;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}
@media (max-width: 767.98px) {
  .testimonials__items {
    -moz-column-gap: 30px;
         column-gap: 30px;
  }
}
@media (max-width: 479.98px) {
  .testimonials__items {
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
.item-testimonials {
  border-radius: 8px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0 38px 24px 38px;
}
@media (max-width: 767.98px) {
  .item-testimonials {
    padding: 0 20px 24px 20px;
  }
}
@media (max-width: 479.98px) {
  .item-testimonials {
    padding: 0 10px 24px 10px;
  }
}
.item-testimonials__avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 96px;
  height: 96px;
  align-self: center;
  margin-top: -48px;
}
.item-testimonials__avatar:not(:last-child) {
  margin-bottom: 32px;
}
.item-testimonials__text {
  flex: 1 1 auto;
  line-height: 1.75;
}
.item-testimonials__text:not(:last-child) {
  margin-bottom: 48px;
}
@media (max-width: 767.98px) {
  .item-testimonials__text:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media (max-width: 479.98px) {
  .item-testimonials__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.item-testimonials__name {
  font-family: "Plus Jakarta Sans";
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
}
.item-testimonials__name:not(:last-child) {
  margin-bottom: 12px;
}
.item-testimonials__profession {
  align-self: flex-start;
}

.skills__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .skills__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .skills__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.skills__title {
  margin-bottom: 112px;
}
@media (max-width: 991.98px) {
  .skills__title {
    margin-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .skills__title {
    margin-bottom: 30px;
  }
}
.skills__body {
  display: grid;
  gap: 40px;
}
@media (min-width: 767.98px) {
  .skills__body {
    grid-template-columns: 1fr 54.83%;
  }
}
.timeline {
  display: grid;
  gap: 64px;
  position: relative;
}
@media (max-width: 767.98px) {
  .timeline {
    gap: 30px;
  }
}
.timeline::before {
  content: "";
  position: absolute;
  left: 12px;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #f1f1f1;
}
.timeline__item {
  padding-left: 40px;
  position: relative;
}
.timeline__item::before {
  content: "";
  position: absolute;
  left: 5px;
  top: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #f1f1f1;
  z-index: 3;
}
.timeline__item:last-child::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: 0;
  height: 100%;
  width: 1px;
  background-color: #fff;
  z-index: 2;
}
.timeline__title {
  font-family: "Plus Jakarta Sans";
  font-weight: 500;
  line-height: 1.25;
}
.timeline__title:not(:last-child) {
  margin-bottom: 10px;
}
.timeline__text {
  color: #656d72;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.timeline__text:not(:last-child) {
  margin-bottom: 24px;
}
.timeline__date {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}

.content-skills__text {
  color: #656d72;
  font-weight: 400;
  line-height: 2;
}
.content-skills__text:not(:last-child) {
  margin-bottom: 64px;
}
@media (max-width: 991.98px) {
  .content-skills__text:not(:last-child) {
    margin-bottom: 40px;
  }
}
@media (max-width: 767.98px) {
  .content-skills__text:not(:last-child) {
    margin-bottom: 20px;
  }
}
.content-skills__items {
  display: grid;
  gap: 40px;
}
@media (max-width: 767.98px) {
  .content-skills__items {
    gap: 20px;
  }
}
.content-skills__label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}
.content-skills__label:not(:last-child) {
  margin-bottom: 16px;
}
.content-skills__line {
  height: 8px;
  border-radius: 2px;
  background-color: #f5f3fe;
  position: relative;
}
.content-skills__line span {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
  background-color: #7e74f1;
}

.contacts {
  background-color: #fbfbfb;
}
.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 110px;
  padding-bottom: 110px;
}
@media (max-width: 991.98px) {
  .contacts__container {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767.98px) {
  .contacts__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.contacts__content {
  display: flex;
  align-items: center;
}
@media (max-width: 767.98px) {
  .contacts__content {
    flex-direction: column-reverse;
  }
}
.contacts__form {
  flex: 0 1 50%;
}
@media (max-width: 767.98px) {
  .contacts__form {
    flex: 0 0 auto;
    width: 100%;
  }
}
.contacts__body {
  flex: 0 1 50%;
  padding-left: 105px;
}
@media (max-width: 991.98px) {
  .contacts__body {
    padding-left: 80px;
  }
}
@media (max-width: 767.98px) {
  .contacts__body {
    padding-left: 0px;
    flex: 0 0 auto;
    width: 100%;
  }
}
@media (max-width: 767.98px) {
  .contacts__list {
    margin-bottom: 30px;
  }
}

.form {
  display: grid;
  gap: 16px;
}
.form__item:last-child {
  padding-top: 22px;
}
.form__input {
  width: 100%;
  height: 48px;
  border-radius: 8px;
  padding: 0 24px;
  background-color: #fff;
}
.form__input::-moz-placeholder {
  color: #656d72;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.form__input:-ms-input-placeholder {
  color: #656d72;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.form__input::placeholder {
  color: #656d72;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.21;
}
.form__input::focus::-moz-placeholder {
  color: #232e35;
}
.form__input::focus:-ms-input-placeholder {
  color: #232e35;
}
.form__input::focus::placeholder {
  color: #232e35;
}
.form__button {
  border-radius: 8px;
  border: 1px solid #eae6fe;
  background-color: #7e74f1;
  color: #f5f3fe;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
  padding: 16px;
  width: 100%;
  transition: all 0.5s ease 0s;
}
.form__button:hover {
  border: 1px solid #7e74f1;
  background-color: #f5f3fe;
  color: #7e74f1;
}

textarea.form__input {
  height: 190px;
  resize: vertical;
  padding: 24px;
}

.list-contacts {
  display: grid;
  gap: 48px;
}
@media (max-width: 991.98px) {
  .list-contacts {
    gap: 30px;
  }
}
@media (max-width: 767.98px) {
  .list-contacts {
    gap: 20px;
  }
}
.list-contacts__item {
  display: flex;
  align-items: center;
  gap: 24px;
}
.list-contacts__icon {
  flex: 0 0 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  background: #f5f3fe;
}
.list-contacts__title {
  font-weight: 500;
  line-height: 1.18;
}
.list-contacts__title:not(:last-child) {
  margin-bottom: 4px;
}
.list-contacts__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  transition: color 0.5s ease 0s;
}
.list-contacts__text:hover {
  color: #7e74f1;
}
.list-contacts a {
  color: #656d72;
}

.input {
  transition: box-shadow 0.5s ease 0s;
}

.input:focus {
  box-shadow: 0 0 15px #7e74f1;
}

.input._error {
  box-shadow: 0 0 15px rgb(226, 17, 17);
}

.footer__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 24px;
  padding-top: 88px;
  padding-bottom: 88px;
}
@media (max-width: 991.98px) {
  .footer__container {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}
@media (max-width: 767.98px) {
  .footer__container {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
.footer__social {
  color: #656d72;
}
.footer__copy {
  color: #656d72;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.21;
}